<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Test (Bruno Martin)</title>
	<link rel="shortcut icon" href="[{ /favicon.ico }]" />
	<link rel="icon" href="[{ /favicon.png }]" type="image/png" />
	<link rel="apple-touch-icon" href="[{ /favicon.png }]" type="image/png" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="default">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="description" content="Test (Bruno Martin)" />
	<meta name="Keywords" content="test" />

	<link rel="stylesheet" href="[{ /brunoaw/web/styles/responsive.css }]" type="text/css" />
	<link rel="stylesheet" href="[{ /brunoaw/web/styles/divers.css }]" type="text/css" />
	<style type="text/css">
		.background_gradient {
			background-image: url("[{ /brunoaw/web/images/background.png }]"), linear-gradient(140deg, #023762, #00719C) !important;
		}
	</style>

	<script src="[{ /scripts/libs/jquery-3.2.1.min.js }]" type="text/javascript"></script>
	<script src="[{ /scripts/libs/blueimp.md5.min.js }]" type="text/javascript"></script>

	<script src="[{ /brunoaw/web/scripts/divers.js }]" type="text/javascript"></script>
	<script src="[{ /brunoaw/web/scripts/error.js }]" type="text/javascript"></script>
	<script src="[{ /brunoaw/web/scripts/responsive.js }]" type="text/javascript"></script>
	<script src="[{ /brunoaw/web/scripts/mouse.js }]" type="text/javascript"></script>

</head>
<body class="background_gradient divers_unselectable">
{{ view }}
<div id="divers_by">By Bruno Martin</div>
</body>
</html>
