/**
 * @author Bruno Martin <brunoocto@gmail.com>
 */

#result_content {
	text-align: left;
	font-size: 3.0vw;
	font-size: 3.0vmin;
	padding: 2% 3% 10% 3%;
}

#result_content_info {
	text-align: center;
	padding-bottom: 4%;
	padding-bottom: 4vh;
}

#result_content_info_title {
	font-weight: bold;
	font-size: 5.0vw;
	font-size: 5.0vmin;
	padding-bottom: 2%;
	padding-bottom: 2vh;
}

#result_content_info_comment {
	text-align: left;
}

#result_content_info_picture {
	margin: 1% 0;
	margin: 1vh 0;
	max-width: 90%;
	max-width: 90vw;
	max-height: 25%;
	max-height: 25vh;
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 0;
}

.line_model {
	display: table-row;
	height: 4vmin;
	height: 4vh;
}

.result_model {
	display: table-row;
}

.result_model_cell {
	display: table-cell;
	vertical-align: top;
}

.result_model_result {
	padding: 0 2vmin;
	padding: 0 2vw;
}
.result_model_result.correct {
	font-size: 1.5em !important;
	color: rgba(73, 184, 74, 0.94);
}
.result_model_result.not_correct {
	font-size: 1.7em !important;
	color: rgba(212, 120, 120, 0.94);
}

.result_model_question {
	font-size: 1.1em
}

.result_model_answer_correct {
	font-size: 0.75em !important;
	color: rgba(200, 200, 200, 0.80);
	margin-left: 1%;
}

.result_model_answer_text {
	font-size: 0.90em
}

.result_model_answer_picture {
	display: inline-block;
	vertical-align: top;
	max-width: 40vmin;
	max-width: 40vw;
	max-height: 16vmin;
	max-height: 16vh;
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 0;
	margin: 1.5%;
}

#result_home {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 2;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	padding: 1vw 2vw;
	padding: 1vmin 2vmin;
	background-color: rgba(23, 82, 119, 0.40);
	cursor: pointer;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
}
#result_home:hover {
	background-color: rgba(23, 82, 119, 0.50);
}
#result_home:active {
	background-color: rgba(23, 82, 119, 0.60);
}

/* Mobile phone in Portrait */
@media only screen and (max-width: 479px){
	#result_home {
		padding: 2vw 4vw;
		padding: 2vmin 4vmin;
	}
}

/* Max Tablet in Landscape */
@media only screen and (max-width: 901px){
	#result_content {
		font-size: 5.0vw;
		font-size: 5.0vmin;
	}
	#result_content_info_title {
		font-size: 6.0vw;
		font-size: 6.0vmin;
	}
}
